
<nav>
  <ul>
    <li>
        <a href="<%- config.root %>">
            <img src="https://www.gravatar.com/avatar/c7d946263af555b019f71f336da1caf9?s=50" alt='Profile Picture' />
            <strong><%= config.author %></strong>
        </a>
        <% if(config.description) { %>
        <p>
          <%= config.description %>
        </p>
        <% } %>
    </li>
  </ul>
  <ul>
    <% for (var i in theme.menu.page) { %>
        <li>
        <a href="<%- config.root %><%- theme.menu.page[i] %>"><%= i %></a>
        </li>
    <% } %>
    <li><a href="https://github.com/ericabouaf" aria-label="Eric's GitHub repository"><%- partial('_partial/icons/github') %></a></li>
    <li><a href="https://twitter.com/ericabouaf" aria-label="Eric's Twitter"><%- partial('_partial/icons/twitter') %></a></li>
    <li><a href="https://www.linkedin.com/in/ericabouaf" title="Eric's LinkedIn profile"><%- partial('_partial/icons/linkedin') %></a></li>
    <li><a href="<%- config.root%>atom.xml">Atom</a></li>
  </ul>
</nav>
