<div itemscope itemtype="http://schema.org/Blog">
<% page.posts.each(function(item){ %>
  <%- partial('_partial/post', {item: item, index: true}) %>
<% }); %>
</div>

<nav>
    <% if(page.prev){ %>
        <a href="<%- config.root %><%- page.prev_link %>">
          <%= __('prev') %>
        </a>
    <% } %>
    <% if(page.next){ %>
        <a href="<%- config.root %><%- page.next_link %>">
          <%= __('next') %>
        </a>
    <% } %>
</nav>
