<%- partial('_partial/head') %>

<body>
    <header class="container">
        <%- partial('_partial/header') %>
    <header>

    <main class="container">
        <%- body %>
    </main>

    <footer class="container">
        Copyright © 2000-<%= moment().year() %> - <%- config.author %>
    </footer>

    <%- partial('_partial/disqus') %>

</body>
</html>
