<%- partial('_partial/head') %>

<body>
    <header>
        <%- partial('_partial/header') %>
    <header>

    <main>
        <%- body %>
    </main>

    <footer>
        <%- partial('_partial/footer') %>
    </footer>

    <%- partial('_partial/after_footer') %>

</body>
</html>
