<%- partial('_partial/head') %>

<body>
    <header>
        <%- partial('_partial/header') %>
    <header>

    <main>
        <%- body %>
    </main>

    <footer>
        Copyright © 2000-<%= moment().year() %> - <%- config.author %>
    </footer>

    <%- partial('_partial/disqus') %>

</body>
</html>
