<article itemscope itemtype="http://schema.org/BlogPosting">
    <time itemprop="datePublished" datetime="<%= page.date.toDate().toISOString() %>"><%= date(page.date) %></time>

    <h1 itemprop="name"><%= page.title %></h1>

    <div itemprop="articleBody"><%- page.content %></div>

    <hr />
    <%- partial('_partial/post/tag', {item: page}) %>
    <%- partial('_partial/post/categories', {item: page}) %>
</article>

<% if(config.disqus_shortname && page.comments) { %>
<section id="comment">
    <h2><%= __('comment') %></h2>
    <div id="disqus_thread" aria-live="polite"><%- partial('_partial/post/disqus_thread')%></div>
</section>
<% } %>
