<nav>
  <ul>
    <li>
        <a href="<%- config.root %>">
            <img src="https://www.gravatar.com/avatar/c7d946263af555b019f71f336da1caf9?s=50" alt='Profile Picture' />
            <strong>neyric.com</strong>
        </a>
    </li>
  </ul>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="<%- config.root%>atom.xml">Atom</a></li>
    <li><a href="https://github.com/ericabouaf" aria-label="Eric's GitHub repository"><%- partial('_partial/icons/github') %></a></li>
    <li><a href="https://twitter.com/ericabouaf" aria-label="Eric's Twitter"><%- partial('_partial/icons/twitter') %></a></li>
    <li><a href="https://www.linkedin.com/in/ericabouaf" title="Eric's LinkedIn profile"><%- partial('_partial/icons/linkedin') %></a></li>
  </ul>
</nav>

<% if(config.description) { %>
<p>
    <%= config.description %>
</p>
<% } %>