<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <time itemprop="datePublished" datetime="<%= item.date.toDate().toISOString() %>"><%= date(item.date) %></time>

    <br />
    <%- partial('post/tag', {item: item}) %>
    <%- partial('post/categories', {item: item}) %>

    <h2 itemprop="name">
      <a href="<%- url_for(item.path) %>">
        <%= item.title %>
      </a>
    </h1>

    <% if (item.cover){ %>
      <div>
          <a href="<%- url_for(item.path) %>">
            <img src="<%- url_for(item.cover) %>" alt="<%= item.title %>" itemprop="image">
          </a>
      </div>
    <% } %>

    <% if (item.excerpt){ %>
        <p><%= item.excerpt %></p>

        <p><a href="<%- url_for(item.path) %>"><%= __('read_more') %></a></p>
    <% } %>

</article>
