<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <%- partial('post/date', {item: item, type: "archive"}) %>
    <br />
    <%- partial('post/tag', {item: item}) %>
    <%- partial('post/categories', {item: item}) %>

    <h2 itemprop="name">
      <a href="<%- url_for(item.path) %>">
        <%= item.title %>
      </a>
    </h1>

    <% if (item.thumbnail){ %>
      <div>
          <a href="<%- url_for(item.path) %>">
            <img src="<%- url_for(item.thumbnail) %>" alt="<%= item.title %>" itemprop="image">
          </a>
      </div>
    <% } %>

    <% if (item.excerpt){ %>
        <p><%= item.excerpt %></p>

        <p>Lire l'article complet</p>
    <% } %>

</article>
